table {
    border-collapse: collapse;
}

tbody>tr:nth-of-type(odd) {
    background-color: lightgray;
}

td,
th {
    border: 1px solid black;
    padding: 0.5em;
}

div.forms {
    display: flex;
}

fieldset {
    margin-bottom: 1em;
}

fieldset>button {
    margin-top: 1em;
}

fieldset>label {
    display: block;
    padding: 0.2em 1em;
}

fieldset>label>input,
fieldset>label>select {
    margin-left: 2em;
}

header {
    font-style: italic;
}

header img {
    float: left;
}

footer {
    text-align: center;
    margin-top: 2em;
}

main {
    clear: both;
}

.okMessage {
    margin-left: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #00FF0030;
    border: 1px green solid;
}

.errorMessage {
    margin-left: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #ff000030;
    border: 1px red solid;
}