table {
    border-collapse: collapse;
}

tbody>tr:nth-of-type(odd) {
    background-color: lightgray;
}

td,
th {
    border: 1px solid black;
    padding: 0.5em;
}
fieldset {
    margin-bottom: 1em;
}
fieldset > button  {
    margin-top: 1em;
}
fieldset > label {
    display:block;
    padding: 0.2em 1em;
}
fieldset > label > input,fieldset >  label > select {
    margin-left: 2em;
}